
body {
  margin: 0;
}

.structure {
 text-align:center;
	width: 90%;
	max-width: 60em;
  margin: 0 auto;
}


nav li {
color: #000;
font-family: sans-serif;
margin-right: 2em;
display: inline;
}

nav a {
color: #000;
}

nav a:hover {
  color: #ccc;
  }

h1 {
Font-family: sans-serif;
color: #666;
font-size: 4em;

}


h2 {
font-family: sans-serif;
font-size: 2.5em;
text-align: center;
margin-top: 3em;
}

h2 a {
color: #666;
}

h2 a:hover {
  color: #ccc;
  }

p {
font-family: sans-serif;
line-height: 1.45em;
margin-bottom: 4em;
}

.body {
background-color: #FFF;
}

a {
text-decoration: none;
}



footer {
  color: #fff;
  font-size: small;
  background-color: #000;
  margin-top: 2em;
  padding-top: 2em;
  width: 100%;
  max-width: auto;
  padding-bottom: 2em;
}
